h2 {
    background-color: blue;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
img {
    max-width: 60px;
}

.pink {
    background-color: pink;
}
.yellow {
    background-color: yellow;
}