<div style="background-color:salmon;">
  202011/1320 transition动画
  <app-transition></app-transition>
</div>

<div style="background-color: saddlebrown;">
  202011/11:15 viewchild 操作dom,
  <app-viewchilddom></app-viewchilddom>
</div>



<div style="background-color: royalblue;">
  <app-domhome></app-domhome>
</div>


<div style="background-color: aqua;">
  <h2>202013实现TODOList</h2>
  <app-search></app-search>
  <hr>
  <app-todolist></app-todolist>

</div>

<div class="pink">
  <app-form></app-form>
</div>

<div>
  <app-news></app-news>
  <li>
    <a href="" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</a>
  </li>
  <li>
    <a href="" [routerLink]="['/order']" routerLinkActive="router-link-active" >Order</a>
  </li>
  <li>
    <a href="" [routerLink]="['/admin']" routerLinkActive="router-link-active" >Admin</a>
  </li> 
</div>

<hr>
<app-home></app-home>
<router-outlet></router-outlet>